# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore autoconf / automake files
Makefile.in
aclocal.m4
configure
build-aux/
Makefile
autom4te.cache/
*.log
config.status
stamp-*
config.h
config.h.in
src/.deps/
src/*.trs

# Binary
src/tc
src/tc_test
build/

# IDE
.vscode
.vs/
TAGS

